// Author: Nathan Birrell

// Header

.top-bar-section nav {
  text-align: center;
  margin: 20px;
  font-size: 0; /* Trick! */

  ul {
    width: 100%;
    margin: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    width: 22%;

    a {
      letter-spacing:5px;
    }
    a, a:visited {
      text-transform: uppercase;
      font-weight: $font-weight-light;
    }
    a:active, a.active {
      font-weight: $font-weight-normal;
    }
  }
}

.site-headings {
  .title {

  }
  .subtitle {
    text-transform: uppercase;
    font-weight: $font-weight-light;
    font-size: $h5-font-size;
    letter-spacing: 3px;

    @media #{$medium-up} {
      font-size: $h4-font-size;
      letter-spacing: 18px;
    }
  }
}
