// Author: Nathan Birrell
// Client: Memla

// ===============
// HEADER
// ===============

.top-bar-section nav {
  text-align: center;
  margin: 20px;
  font-size: 0; /* Trick! */ 

  ul {
    width: 100%;
    margin: 0;
    list-style-type: none;
  }

  li {
    display: block;
    width: 100%;

    @media #{$medium-up} {
      display: inline-block;
      width: 22%;
    }

    a {
      letter-spacing:5px;
    }
    a, a:visited {
      text-transform: uppercase;
      font-weight: $font-weight-light;
    }
    a:active, a.active {
      font-weight: $font-weight-normal;
    }
  }
}

.site-headings {
  .title {
    // font-weight: $font-weight-bold
  }
  .subtitle {
    text-transform: uppercase;
    font-size: $h5-font-size;
    letter-spacing: 3px;
    font-weight: $font-weight-light;

    @media #{$large-up} {
      font-size: $h4-font-size;
      letter-spacing: 17px;
    }
  }
  .logo {
    margin-top: 6px;
    height: 80px;
    width: auto;

    @media #{$medium-up} {
      margin-top: 12px;
      height: 150px;
      width: auto;
    }
  }
}

// ===============
// PAGE > ABOUT/HOME
// ===============

.about {
  .col {
    text-align: center;

    @media #{$medium-up} {
      padding: 12px;
      word-wrap:break-word;
    }

    p {
      text-align: left;
      font-size: $h4-font-size;
      font-weight: $font-weight-light;
    }

    i {
      color: $primary-color;
      margin: 14px 0;
    }
  }
}

// ===============
// PAGE > CONTACT
// ===============

.contact {
  h1 {
    padding-left: 20px;

    @media #{$medium-up} {
      @include grid-column($offset:2);
    }
  }
  person {
    word-wrap: break-word;
    padding: 15px;

    p {
      margin: 0;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

// ===============
// PAGE > PROJECTS
// ===============

.projects {
  .project-summary {

    .project-image {
      width: 100%;
      height: 150px;
      @media #{$medium-up} {
        height: 300px;
      }
    }
    .project-title {
      font-size: $h5-font-size;
      margin-top: 15px;

      a {
        color: $body-font-color;
      }
    }
    .project-summary {
    }
  }
}

// ===============
// PAGE > PROJECT
// ===============

.project {
  margin-top: -390px;
  .row.section.project-info {
    margin-bottom: 0;
  }

  @media #{$medium-up} {
    margin-top: -680px;
    .row.section.project-info {
      margin-bottom: 40px;
    }
  }
  .project-info {
    width: 100%;
    position: relative;
    max-height: 290px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;

    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with opacity */
    background-color: rgba(0, 0, 0, 0.5);

    h1 {
      font-size: $h4-font-size;
      text-align: center;

      @media #{$medium-up} {
        font-size: $h1-font-size;
        text-align: left;
      }
    }
    p {
      display: none; // not for mobiles

      font-size: 24px;
      font-weight: 200;

      @media #{$medium-up} {
        display: initial;
      }
    }

    @media #{$medium-up} {
      height: 290px;

      .info {
        height: 270px;
        overflow: scroll;
      }
    }

    //  Left and right controllers for gallery
    .gallery-controllers {
      position: absolute;
      width: 100%;
      color: #FFF;
      font-size: 44px;
      top: 50%;
      margin-top: -22px;

      .prevslide, .nextslide {
        z-index: 99;
        position: absolute;
        // bottom: -20px;
        margin: 0 15px;
      }

      .prevslide {

      }
      .nextslide {
        right: 0px;
      }

       @media #{$medium-up} {
        font-size: 74px;

        .prevslide, .nextslide {
          margin-top: -34px;
        }
      }
    }
  }
}

.project-page-body {
  display: block;
  position: relative;
  top: -100%;
  z-index: 1;
  height: 100%;

  // used to position info
  .spacer {
    display: block;
    position: relative;
    height: 100%;
  }
}

/* slider container */
.iosSlider {
    /* required */
    position: absolute;
    // display: inline-block;
    top: -206px;
    left: 0;
    overflow: hidden;
    z-index: -1;
    
    /* optional */
    width: 100%;
    height: 100%;
    min-height: 300px;

    /* slide */
    .slider .slide {
      /* required */
      position: absolute;
      display: block;
      /* optional */
      width: 100%;
      height: 100%;
      padding: 0 0 0 0;
      background-attachment: scroll;
      background-clip: border-box;
      background-color: transparent;
      background-origin: padding-box;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    /* slider */
    .slider {
        /* required */
        width: 100%;
        height: 100%;
        margin: 0;padding: 0;-webkit-padding-start: 0px;
    }
}


// ===============
// BODY
// ===============

body {
  overflow: hidden;
}

.row.section {
  margin-top: 40px;
  margin-bottom: 40px;
}

footer {
  @media #{$small-only} {
    padding-top: 32px;
    * {
      font-size: 14px;
    }
  }
}

body.background-image {
  background-image: url('../img/bg.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  a, a:visited, a:active, ul, li, p, h1, h2, h3, h4, h5, h6, i, img {
    color: #ebecec;
    // opacity: .9;
  }

  .contact, .about {
    a, a:visited, a:active, ul, li, p, h1, h2, h3, h4, h5, h6, i, img {
      color: #ebecec;
      // opacity: .9;
    }
  }
}